# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
.env.production

# Testing
coverage/

# Misc
*.local

# Server
server/data.db
server/uploads/
server/node_modules/
